.active {
  transition: all 100ms 0s ease;
  background-color: #3f51b5;
  color: #fff;
}

.pagination div {
  position: relative;
  margin: 20px 0;
  display: inline-block;
}

.pagination a {
  border: 1px solid #ccc;
  padding: 5px 15px;
  margin: 0 10px;
}

.pagination div a + span {
  display: none;
}

.pagination div a.active + span {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: -8px;
  right: 11px;
  background: #fff;
  color: #000;
  width: 10px;
  height: 10px;
  text-align: center;
}
