body{
  background: #222;
  color: #FFF;
}

table{
  color: #222;
}

.led{
  background-color: #222;
  height: 8px;
  width: 6.25%;
  display:inline-flex;
}

.led-playing {
  transition: all 300ms 0s ease;
  background-color: #5292f7;
}