.sequencer h3{
  margin:0 0 10px;
}

.handsontable{
  margin-bottom: 20px;
}

.step{
  height: 8px;
  /*width =  100/16 */
  width: 6.2%;
  display:inline-flex;
}

.step-playing {
  transition: all 100ms 0s ease;
  background-color: #3f51b5;
}